html {
  scroll-behavior: smooth;
}

.browse-img {
  max-width: 100%;
  max-height: auto;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}

h1 {
  font-size: 5em;
}

body,
html {
  height: 100%;
}
body,
html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("PC_builder.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-text {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  color: rgb(221, 52, 52);
  text-shadow: 10px 10px 10px #fff;
}

.landing-about-text {
  text-align: center;
  color: aliceblue;
  letter-spacing: 5px;
  font-weight: bolder;
  font-family: "Press Start 2P", cursive;
  text-shadow: 10px 10px 10px #000;
}

.build-seciton {
  background-color: antiquewhite;
}

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(184, 69, 212);
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.contact-section {
  background-color: azure;
}
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 70%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column,
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}


.cart-bg {
  background-color: rgb(99, 206, 206);
}

span {
  float: right;
}

.shopping-cart {
  display: inline-block;
  background: url("http://cdn1.iconfinder.com/data/icons/jigsoar-icons/24/_cart.png")
    no-repeat 0 0;
  width: 40px;
  height: 40px;
  margin: 10px 10px 0 0;
}

button {
  border: 1px solid #722a1b;
  padding: 4px 14px;
  background-color: #fff;
  color: #722a1b;
  text-transform: uppercase;
  float: right;
  margin: 5px 0;
  font-weight: bold;
  cursor: pointer;
}

#item-count {
  color: red;
}

#myProgress {
  width: 100%;
  background-color: antiquewhite;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: coral;
}
